        <ul class="navbar-nav bg-gradient-warning sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-car"></i>
                </div>
                <div class="sidebar-brand-text mx-3">MecPeças <sup>Admin</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <%= link_to management_path, :class => 'nav-link' do %>
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                <% end -%>
            </li>


            <li class="nav-item">
                    <%= link_to management_categories_path, :class => 'nav-link' do %>
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Categorias</span>
                    <% end -%>
            </li>

            <li class="nav-item">
                    <%= link_to management_admins_path, :class => 'nav-link' do %>
                        <i class="fas fa-fw fa-users"></i>
                        <span>Administradores</span>
                    <% end -%>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-archive"></i>
                    <span>Categorias (Lista)</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Componentes Padrões:</h6>
                        <% @categories.each do |category| %>
                            <a class="collapse-item" href="#"><%= category.description %></a>
                        <% end -%>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Outros
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                    aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Menu</span>
                </a>
                <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Sistema:</h6>
                        <a class="collapse-item active" href="login.html">Vendas Feitas</a>
                        <a class="collapse-item" href="register.html">Pedidos enviados</a>
                        <a class="collapse-item" href="forgot-password.html">Solicitações</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Outros:</h6>
                        <a class="collapse-item" href="404.html">Fornecedores</a>
                        <a class="collapse-item " href="blank.html">Clientes cadastrados</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>